body {
    background-color:rgb(148, 210, 255);
}

.greetingsMsg {
    display: grid;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: block;
    height: 300px;
    width: 250px;
}

.container1 {
    display: grid;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-style: solid;
    border-color: white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 5%;
}

.container2 {
    display: grid;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-style: solid;
    border-color: white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 5%;
}

.container3 {
    display: grid;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-style: solid;
    border-color: white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 5%;
}

.container4 {
    display: grid;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-style: solid;
    border-color: white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 5%;
}

.container5 {
    display : grid;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-style: solid;
    border-color: white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 5%;
}

.endSection {
    display : grid;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 5%;
}